<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <% if @active_nav %>
	      	<a class="navbar-brand nav-links" data-link="#home" href> <%= image_tag('ljc_logo.png', class: "ljc-logo") %></a>
	      <% else %>
	      	<a class="navbar-brand home nav-links" href="<%= logged_in? ? '/' : '' %>"> <%= image_tag('ljc_logo.png', class: "ljc-logo") %></a>
	      <% end %>
	    </div>
	    <div class="collapse navbar-collapse" id="navbar-collapse">
	      <ul class="nav navbar-nav navbar-right">
	      		<% if logged_in? %>
	      			<li><%= link_to "PROJECTS", projects_path, class: ("active-nav" if current_page?(projects_path)) %></li>
	      		  <li><%= link_to "ABOUT", abouts_path, class: ("active-nav" if current_page?(abouts_path)) %></li>
		      		<li><%= link_to "LOG OUT", logout_path, method: :delete %></li>
	      		<% end %>
	      		<% if @active_nav && !logged_in? %>
						  <li><a class="about nav-links" data-link="#about" href>ABOUT</a></li>
			        <li><a class="project nav-links" data-link="#project" href>PROJECTS</a></li>
			        <li><a class="contact nav-links" data-link="#contact" href>CONTACT</a></li>
		        <% end %>
	      </ul>
	    </div>
	</div>
</nav>