<div id="home" class="home-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>DEVELOPER</h1>
				<h2>LAWRENCE J CYMBURA JR</h2>
				<a class="nav-links" data-link="#about" href><div class="scoll-down"></div></a>
			</div>
		</div>
	</div>
</div>

<div id="about" class="about-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<% if !@about.nil? %>
					<h2><%= @about.title %></h2>
					<p><%= @about.description %></p>
					<p><%= @about.second_description %></p>
				<% end %>
			</div>
			<div class="skills col-md-6">
				<% if !@languages.nil? %>
					<h3><%= @languages.title %></h3>
					<p><%= @languages.description %></p>
				<% end %>
				<% if !@frameworks.nil? %>
					<h3><%= @frameworks.title %></h3>
					<p><%= @frameworks.description %></p>
				<% end %>
				<% if !@knowledge.nil? %>
					<h3><%= @knowledge.title %></h3>
					<p><%= @knowledge.description %></p>
				<% end %>
				<% if !@resume.nil? %>
					<a class="btn green-bg" href="<%= @resume.document %>" target="_blank">RESUME</a>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div id="project" class="project-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>PROJECTS</h2>
				<%# @projects.each do |project| %>
					<!-- <a class="modal-link" href data-toggle="modal" data-target="#myModal">
						<div data-title="<%#= project[1]['title'] %>" data-description="<%#= project[1]['description'] %>" data-url="<%#= project[1]['url'] %>" class="project-thumbs">
							<%#= image_tag(project[1]['image']) %>
						</div>
					</a> -->
				<%# end %>
				<% if !@projects.nil? %>
					<% @projects.each do |project| %>
						<a class="modal-link" href data-toggle="modal" data-target="#myModal">
							<div data-title="<%= project.title %>" data-description="<%= project.description %>" data-url="<%= project.link %>" class="project-thumbs">
								<%= image_tag(project.image.url(:large)) %>
							</div>
						</a>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div id="contact" class="contact-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
			<h2>CONTACT</h2>
		    <%= form_for @contact_form, url: {action: 'create'}, html: {:novalidate => true, id: 'my-form'} do |f| %>
            <div class="form-group">
            		<%= f.label :name, class: 'labels' %>
                <%= f.text_field :name, class: 'form-control', placeholder: 'NAME' %>
            </div>
            <div class="form-group">
            	 <%= f.label :email, class: 'labels' %>
               <%= f.email_field :email, class: 'form-control', placeholder: 'EMAIL' %>
            </div>
            <div class="form-group">
            	<%= f.label :message, class: 'labels' %>
               <%= f.text_area :message, class: 'form-control', rows: 4, placeholder: 'MESSAGE' %>
            </div>
            <div class="form-group nickname">
            		<p> Please leave this blank. </p>
               <%= f.email_field :nickname, class: 'form-control' %>
            </div>
           	   <%= f.submit 'SUBMIT', class: 'btn green-bg' %>
      	    <% end %>
		    </div>
		     <div class="col-sm-6 info">
		     	<p>EMAIL: <%= mail_to 'lcymburajr@ljcdesign.com', 'lcymburajr[at]ljcdesign.com', class: 'green' %></p>
		     	<p>PHONE: </strong><span class="green">603-557-2917</span></p>
		     	<%= link_to(image_tag('linkedin.png', class: 'linkedin'),'https://www.linkedin.com/pub/lawrence-j-cymbura-jr/44/876/38a') %>
		     </div>
		</div>
	</div>
</div>

<% if flash[:success] %>
	<%= render 'shared/thankyou_modals' %>
<% end %>

<div class="scroll-top"><p>TOP</p></div>
<%= render 'shared/modals' %>

<script>
	$(window).load(function(){
		$.backstretch("site_background.jpg");
		$('body').css('background', '#000');
	});
</script>
