<div id="home" class="home-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>DEVELOPER</h1>
				<h2>~ LAWRENCE J CYMBURA JR ~</h2>
				<div class="scoll-down"></div>
			</div>
		</div>
	</div>
</div>

<div id="about" class="about-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>ABOUT</h2>
				<p>I have over ten years experience working as a commercial photographer. During this period, I’ve learned the value of hard work as well as a massive amount of technical information on both equipment and software. My work in the field of photography helped me to discover an interest in graphic design. This interest inspired me to earn a degree in design and begin work as a freelance graphic designer. My various freelance projects got me interested in web development, so I went back to school to immerse myself in that field as well.</p>
				<p>I consider myself a problem solver and web development gives me the satisfaction of overcoming challenges and developing creative solutions.</p>
			</div>
			<div class="col-md-6">
				<h2>LANGAUGES</h2>
				<p>HTLM5, CSS3, JAVASCRIPT, PHP, RUBY</p>
				<h2>FRAMWORKS</h2>
				<p>sass, JQUERY, TWIG, KLEIN, RAILS, NODE, ANGULAR, METEOR</p>
				<h2>KNOWLEDGE</h2>
				<p>GIT, PHOTOSHOP, SEO, UX, IA</p>
				<!-- Indicates a successful or positive action -->
				<button type="button" class="btn btn-success">Success</button>
			</div>
		</div>
	</div>
</div>

<div id="project" class="project-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>PROJECTS</h2>
				<% @projects.each do |project| %>
					<a class="modal-link" href data-toggle="modal" data-target="#myModal">
						<div data-title="<%= project[1]['title'] %>" data-description="<%= project[1]['description'] %>" data-url="<%= project[1]['url'] %>" class="project-thumbs">
							<%= image_tag(project[1]['image']) %>
						</div>
					</a>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div id="contact" class="contact-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>CONTACT</h2>
				<%= form_tag do %>
				  Form contents
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="scroll-top"><p>TOP</p></div>
<%= render 'shared/modals' %>