<h1>Projects#edit</h1>
<p>Find me in app/views/projects/edit.html.erb</p>

<%= form_for @project, html: { multipart: true } do |f| %>
  <%= f.text_field :title, placeholder: "title" %></br></br>
  <%= f.text_field :description, placeholder: "description" %></br></br>
  <%= f.file_field :image %></br></br>
  <%= f.text_field :link, placeholder: "link" %></br></br>
  <%= f.submit "Save" %>
<% end %>

</br>
</br>
<%= link_to "delete", :project, method: :delete, data: { confirm: "You sure?" } %>