<div class="container back-end">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <h2>New Project</h2>
      <%= form_for @project, html: { multipart: true } do |f| %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :Role %>
          <%= f.text_area :description, class: 'form-control' %>
        </div>
        <div class="form-group">
          <label>Code/Framworks</label>
          <%= f.text_area :second_description, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image %>
          <p class="image-size">Thumbs: 200 &times; 150</p>
          <p class="image-size">Original: 500 &times; 350</p>
        </div>
        <div class="form-group">
          <%= f.label :link %>
          <%= f.text_field :link, class: 'form-control' %>
        </div>
        <%= f.submit :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>