	<!DOCTYPE html>
<html>
	<head>
	  <title>ljc</title>
	  <meta name="description" content="Lawrence J Cymbura Jr. is a developer of web sites and web applications." />
	  <meta name="keywords" content="Developer, Web, Front-end, Back-end, Engineer" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <!--[if lt IE 10]> <html class="ie9" lang="en"> <![endif]-->
	  <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
	</head>
	<body>
	  <%= render 'shared/nav' %>
	  <div class="wrapper">
		  <%= yield %>
		  <div class="push"></div>
	  </div>
	  <%= render 'shared/footer' %>
	  <div id="landscape">
			<%= image_tag('landscape.png') %>
		</div>
	</body>
</html>
